<h1>Dashboard</h1>
<%= form_for @shout do |f| %>
  <%= f.text_area :body, placeholder: "shout here!", remote: true%>
  <%= f.submit "Shout!"%>
<% end %>

<% @shouts.each do |shout| %>
  <div>
    <%= shout.body%>
  </div>
<% end %>